* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #1a0000 0%, #330000 50%, #1a0000 100%);
    color: white; /* Garante que o texto seja branco */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 10);
  padding: 25px 30px;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  position: sticky;
}

header a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
}

header a i {
    color: red;
    margin: 0 20px 0 0;
}

header a p {
    color: red;
}


/* fim do style do header */

/* Estilo do formulário principal, centralizado */
form {
    background-color: rgba(0, 0, 0, 0.9);
    width: 600px; /* Ajuste a largura para acomodar mais campos */
    margin: 50px auto;
    padding: 50px;
    border-radius: 17px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para destaque */
}

h2{
  text-align: center;
  margin-bottom: 20px;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para os rótulos (labels) */
label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para todos os campos de input */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"]
{
    padding: 5px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}


    .bnt{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 20px;
    }


/* Estilo para os botões */
button {
    background-color: dodgerblue;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer; /* Adiciona o cursor de clique */

}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

/* Estilo para o campo de mensagem (senha e CEP) */
#mensagem_senha,
#mensagem_cep {
    color: dodgerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -15px; /* Ajusta o espaçamento */
    margin-bottom: 10px;
    font-size: 14px;
}

.link-login{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

form .login{
  text-decoration: none;
  color: rgb(227, 240, 229);
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
}


.login:hover{

  color: dodgerblue;
  transition: 0.5s;
  list-style-type: none;
  text-decoration: none;
}

@media (max-width: 768px) {
    form {
        width: 450px;
    }
}

/* msg de erro senha*/
