* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #1a0000 0%, #330000 50%, #1a0000 100%); 
    background-repeat: no-repeat;
    height: 100vh;
}

main{
    display: flex;
    justify-content: center;
}

.logo a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
}

.logo a i {
    color: red;
    margin: 0 20px 0 0;
}

.logo a p {
    color: red;
}


