
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 10);
  padding: 25px 30px;
  color: white;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  z-index: 1000;
  position: sticky;
  top: 0;
}

header a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
}

header a i {
    color: red;
    margin: 0 20px 0 0;
}

header a p {
    color: red;
}


.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list li a:hover {
  color: red;
}

main .apresentacao{
    background: linear-gradient(135deg, #1a0000 0%, #330000 50%, #1a0000 100%);
}

main .apresentacao::before{
    background-image: url("../img/minha_imagem.jpg")
    center/cover;
    opacity: 0.1;
}


main .apresentacao {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 480px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main section h1{
    font-size: 50px;
    color: white;
}

main section h1 strong{
    color: red;
}

main section p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

main section .botoes{
    margin-top: 20px;
}

main section .botoes {
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    border: 1px, solid, red;
}

main section .botoes a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


main section .botoes:hover{
    transform: scale(1.1);
    transition: 1s;
}

main .apresentacao2 {
    background-color: rgb(10, 10, 10);    
    height: 600px;
    width: 100%;
}

main .apresentacao2 h2 {
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    align-items: center;
    gap: 10px;
    font-size: 15px;
}

main .apresentacao2 h2 i{
    color: red;
    font-size: 20px;
}

main .apresentacao2 div {
    display: flex;
    justify-content: center;
}

main .apresentacao2 article{
    background-color: black;
    width: 230px;
    height: 270px;
    text-align: center;
    color: white;
    border-radius: 20px;
    margin: 50px;
    padding: 30px;
    border: 2px solid red;
    
    
}

main .apresentacao2 article:hover{
    transform: scale(1.1);
    transition: 1s;
}

main .apresentacao2 article i{
    font-size: 30px;
    color: red;
}

main .apresentacao2 article h3{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

main .apresentacao2 article p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 20px;
}

footer div{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    height: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

